{% extends "../layout.html" %}
{% load static %}

{% block content %}
<div class="content-section">
    <table class="table table-striped table-border table-hover">
        {% if inventories %}
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity In Stock</th>
                    <th scope="col">Quantity Sold</th>
                    <th scope="col">Cost Per Item</th>
                    <th scope="col">Sales Or Revenue</th>
                    <th scope="col">Stock Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for inventory in inventories %}
                    <tr style="cursor: pointer; cursor: hand;" onclick="window.location = `{% url 'per_product_view' inventory.id %}`">
                        <th scope="row" > {{ forloop.counter }} </th>
                        <th scope="row" > {{ inventory.name }} </th>
                        <th scope="row" > {{ inventory.quantity_in_stock }} </th>
                        <th scope="row" > {{ inventory.quantity_sold }} </th>
                        <th scope="row" > {{ inventory.cost_per_item }} </th>
                        <th scope="row" > {{ inventory.sales }} </th>
                        <th scope="row" > {{ inventory.stock_date }} </th>
                        <th scope="row" >
                            <a class="btn btn-success" href="{% url 'update_inventory' inventory.id %}">Update</a> / 
                            <a class="btn btn-danger" href="{% url 'delete_inventory' inventory.id %}">Delete</a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>

        {% else %}
            <h3 class="text-center">Inventory is empty. <a style="text-decoration:none" href="{% url 'add_inventory' %}">Add Inventory</a></h3>

        {% endif %}
    </table>
</div>
{% endblock %}